.uw-w0 {width: 0%;}
.uw-w1 {width: 1%;}
.uw-w2 {width: 2%;}
.uw-w3 {width: 3%;}
.uw-w4 {width: 4%;}
.uw-w5 {width: 5%;}
.uw-w6 {width: 6%;}
.uw-w7 {width: 7%;}
.uw-w8 {width: 8%;}
.uw-w9 {width: 9%;}
.uw-w10 {width: 10%;}
.uw-w11 {width: 11%;}
.uw-w12 {width: 12%;}
.uw-w13 {width: 13%;}
.uw-w14 {width: 14%;}
.uw-w15 {width: 15%;}
.uw-w16 {width: 16%;}
.uw-w17 {width: 17%;}
.uw-w18 {width: 18%;}
.uw-w19 {width: 19%;}
.uw-w20 {width: 20%;}
.uw-w21 {width: 21%;}
.uw-w22 {width: 22%;}
.uw-w23 {width: 23%;}
.uw-w24 {width: 24%;}
.uw-w25 {width: 25%;}
.uw-w26 {width: 26%;}
.uw-w27 {width: 27%;}
.uw-w28 {width: 28%;}
.uw-w29 {width: 29%;}
.uw-w30 {width: 30%;}
.uw-w31 {width: 31%;}
.uw-w32 {width: 32%;}
.uw-w33 {width: 33%;}
.uw-w34 {width: 34%;}
.uw-w35 {width: 35%;}
.uw-w36 {width: 36%;}
.uw-w37 {width: 37%;}
.uw-w38 {width: 38%;}
.uw-w39 {width: 39%;}
.uw-w40 {width: 40%;}
.uw-w41 {width: 41%;}
.uw-w42 {width: 42%;}
.uw-w43 {width: 43%;}
.uw-w44 {width: 44%;}
.uw-w45 {width: 45%;}
.uw-w46 {width: 46%;}
.uw-w47 {width: 47%;}
.uw-w48 {width: 48%;}
.uw-w49 {width: 49%;}
.uw-w50 {width: 50%;}
.uw-w51 {width: 51%;}
.uw-w52 {width: 52%;}
.uw-w53 {width: 53%;}
.uw-w54 {width: 54%;}
.uw-w55 {width: 55%;}
.uw-w56 {width: 56%;}
.uw-w57 {width: 57%;}
.uw-w58 {width: 58%;}
.uw-w59 {width: 59%;}
.uw-w60 {width: 60%;}
.uw-w61 {width: 61%;}
.uw-w62 {width: 62%;}
.uw-w63 {width: 63%;}
.uw-w64 {width: 64%;}
.uw-w65 {width: 65%;}
.uw-w66 {width: 66%;}
.uw-w67 {width: 67%;}
.uw-w68 {width: 68%;}
.uw-w69 {width: 69%;}
.uw-w70 {width: 70%;}
.uw-w71 {width: 71%;}
.uw-w72 {width: 72%;}
.uw-w73 {width: 73%;}
.uw-w74 {width: 74%;}
.uw-w75 {width: 75%;}
.uw-w76 {width: 76%;}
.uw-w77 {width: 77%;}
.uw-w78 {width: 78%;}
.uw-w79 {width: 79%;}
.uw-w80 {width: 80%;}
.uw-w81 {width: 81%;}
.uw-w82 {width: 82%;}
.uw-w83 {width: 83%;}
.uw-w84 {width: 84%;}
.uw-w85 {width: 85%;}
.uw-w86 {width: 86%;}
.uw-w87 {width: 87%;}
.uw-w88 {width: 88%;}
.uw-w89 {width: 89%;}
.uw-w90 {width: 90%;}
.uw-w91 {width: 91%;}
.uw-w92 {width: 92%;}
.uw-w93 {width: 93%;}
.uw-w94 {width: 94%;}
.uw-w95 {width: 95%;}
.uw-w96 {width: 96%;}
.uw-w97 {width: 97%;}
.uw-w98 {width: 98%;}
.uw-w99 {width: 99%;}
.uw-w100 {width: 100%;}
